<div class="container">
    <header class="row" id="header">
        <div class="col-xs-12">
            <div class="jumbotron" id="jumbotron">
                <a id="subscribe" class="btn btn-primary subscriber" href="{{ path('fos_user_registration_register') }}">Subscribe</a>
                <div class="row">
                    <div class="col-xs-12">
                        <h1>Welcome to<br>BONOBOS</h1>
                    </div>
                </div>
            </div>
    </header>
</div>
