{# app/Recourses/views/publics/about.html.twig #}

{% extends 'base.html.twig' %}

{% block head %}
{{ include('include/publics/head.html.twig') }}
{% endblock %}

{% block main %}
    <div class="container" id="main">
        <div id="" class="row">
            <div class="col-xs-12">
                <h2>About us</h2>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('skin/css/styles.css') }}" />
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{{ asset('skin/js/publics/about.js') }}"></script>
{% endblock %}
